*.o
aclocal.m4
autom4te.cache/
compile
config.h
config.in
config.in~
config.log
config.status
configure
cov-int
depcomp
.deps/
install-sh
Makefile
Makefile.in
missing
stamp-h1
tclang
tclang*.tar.gz
tclang.tgz
test-driver
test-suite.log
*.test
*.out
*.log
*.trs
ylwrap
